<a href="https://colab.research.google.com/github/aist2000/ml-test/blob/master/AI_ML_Ex2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Collect and understand the data

In [0]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [15]:
# get  training file as a DataFrame
#data = pd.read_csv("../input/ex2data1/ex2data1.csv")

url="https://raw.githubusercontent.com/aist2000/ml-test/master/py/machine-learning-ex2/ex2data1.txt"
data = pd.read_csv(url, header=None)
data.head()

           0          1  2
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [16]:
data.shape

(100, 3)

In [17]:
data.head()

           0          1  2
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [18]:
data.describe()

                0           1           2
count  100.000000  100.000000  100.000000
mean    65.644274   66.221998    0.600000
std     19.458222   18.582783    0.492366
min     30.058822   30.603263    0.000000
25%     50.919511   48.179205    0.000000
50%     67.032988   67.682381    1.000000
75%     80.212529   79.360605    1.000000
max     99.827858   98.869436    1.000000

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
0    100 non-null float64
1    100 non-null float64
2    100 non-null int64
dtypes: float64(2), int64(1)
memory usage: 2.4 KB

In [0]:
y = data[2] # copy “y” column values out

In [27]:
#X = data[0,1]
y.describe()

count    100.000000
mean       0.600000
std        0.492366
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: 2, dtype: float64

In [26]:
X.head()

NameError: ignored

## Plot data

In [0]:
pos= data.loc[ data.y==1]
neg= data.loc[ data.y==0]

In [0]:
neg.info()

## Split the dataset into training and validation

In [0]:
from sklearn.model_selection import train_test_split
  # 80 % go into the training test, 20% in the validation test
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=7)
X_train = X
y_train = y

In [0]:
X_train.head()

# 3. Modelling

In [0]:
def simple_heuristic(df):
    '''
    predict whether or not the 
    '''

    predictions = [] # a list
    
    for index, item in df.iterrows():
          
        if item['X1'] >=50 and item['X2'] >=50 :
            predictions.append(1)  # 
        else:
            predictions.append(0) # everyone else 
    return predictions

In [0]:
simplePredictions = simple_heuristic(X_valid)
correct = sum(simplePredictions == y_valid)
print ("Baseline: ", correct/len(y_valid))

##  Logistic Regression

In [0]:
from sklearn.linear_model import LogisticRegression
#model = LogisticRegression(max_iter =400, solver='newton-cg')
model = LogisticRegression(max_iter =400, solver='lbfgs')

In [0]:
y_train

In [0]:
model.fit(X_train, y_train)

In [0]:
model.score(X_train, y_train)

In [0]:
#model.score(X_valid, y_valid)

In [0]:
model.intercept_ # the fitted intercept

In [0]:
model.coef_  # the fitted coefficients

In [0]:
plt.scatter(pos.X1, pos.X2,  color = 'black', label='y=1', marker='+')
plt.scatter(neg.X1, neg.X2,  color = 'yellow', label='y=0',  marker='o')
plt.plot( )
plt.title('Data set')
plt.xlabel('Exam 1 score')
plt.ylabel('Exam 2 score')
a = model.intercept_[0]
b = model.coef_[0][0]
c= model.coef_[0][1]
#c = model.coef_[1]
# plot decision boundary

# getting the x co-ordinates of the decision boundary
plot_x = np.array([min(X_train.X1) - 2, max(X_train.X1) + 2])
# getting corresponding y co-ordinates of the decision boundary
plot_y = (-1/c) * (b * plot_x + a)
# Plotting the Single Line Decision Boundary
plt.plot(plot_x, plot_y, label = "Decision_Boundary")

plt.axis([20, 120, 20, 120])
plt.legend()
plt.show()

In [0]:
y1 = (-1/c) * (b * 100 + a)
y1

In [0]:
plot_x

In [0]:
pred=model.predict_proba([[45,80]])
#pred_valid =  pd.Series(pred, name='y')
#pred_valid
pred

In [0]:
X_valid

In [0]:
data.corr()